<div class="home-container">
  <div class="box">

    <!-- Hero Section -->

    <section class="hero-section">
      <div class="hero-content">
        <h1>Discover Digital Art & Collect NFTs</h1>
        <p>NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
        <div class="start-btn">
          <button class="btn btn-primary">
            <img src="assets/images/RocketLaunch.svg" alt="Rocket Icon" />
            Get Started
          </button>
        </div>
        <div class="hero-stats">
          <div class="stat-item">
            <span>240k+</span>
            <p>Total Sale</p>
          </div>
          <div class="stat-item">
            <span>100k+</span>
            <p>Auctions</p>
          </div>
          <div class="stat-item">
            <span>240k+</span>
            <p>Artists</p>
          </div>
        </div>
      </div>
      <div class="hero-image">
        <img src="assets/images/home_Image.svg" alt="Featured NFT" />
        <div class="image-header">
          <h2>Space Walking</h2>
          <div class="small-image">
            <img src="assets/images/Avatar.svg" alt="Small Image" />
            <p>Animakid</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Trending-Collection Section -->

    <section class="trending-collection">
      <div class="section-description">
        <h2>Trending Collection</h2>
        <p>Checkout our weekly updated trending collection.</p>
      </div>
      <div class="image-gallery">
        <div class="image-item">
          <img src="assets/images/Trending_Collection/Trending_One.svg" alt="Main Image 1" class="main-image" />
          <div class="small-images">
            <img src="assets/images/Trending_Collection/Secondary1-1.svg" alt="Small Image 1" class="small-image" />
            <img src="assets/images/Trending_Collection/Secondary1-2.svg" alt="Small Image 2" class="small-image" />
            <img src="assets/images/Trending_Collection/Number.svg" alt="Small Image 3" class="small-image" />
          </div>
          <div class="image-header">
            <h2>DSGN Animals</h2>
            <div class="small-image">
              <img src="assets/images/Trending_Collection/Avatar_One.svg" alt="Small Image" />
              <p>MrFox</p>
            </div>
          </div>
        </div>
        <div class="image-item">
          <img src="assets/images/Trending_Collection/Trending_Two.svg" alt="Main Image 1" class="main-image" />
          <div class="small-images">
            <img src="assets/images/Trending_Collection/Secondary2-1.svg" alt="Small Image 1" class="small-image" />
            <img src="assets/images/Trending_Collection/Secondary2-2.svg" alt="Small Image 2" class="small-image" />
            <img src="assets/images/Trending_Collection/Number.svg" alt="Small Image 3" class="small-image" />
          </div>
          <div class="image-header">
            <h2>Magic Mushrooms</h2>
            <div class="small-image">
              <img src="assets/images/Trending_Collection/Avatar_Two.svg" alt="Small Image" />
              <p>Shroomie</p>
            </div>
          </div>
        </div>
        <div class="image-item">
          <img src="assets/images/Trending_Collection/Trending_Three.svg" alt="Main Image 1" class="main-image" />
          <div class="small-images">
            <img src="assets/images/Trending_Collection/Secondary3-1.svg" alt="Small Image 1" class="small-image" />
            <img src="assets/images/Trending_Collection/Secondary3-2.svg" alt="Small Image 2" class="small-image" />
            <img src="assets/images/Trending_Collection/Number.svg" alt="Small Image 3" class="small-image" />
          </div>
          <div class="image-header">
            <h2>Disco MAchines</h2>
            <div class="small-image">
              <img src="assets/images/Trending_Collection/Avatar_Three.svg" alt="Small Image" />
              <p>BeKind2Robots</p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Top Creators Section -->

    <section class="top-creators">
      <h2>Top Creators</h2>

    </section>

  </div>
</div>
