<div class="home-container">
  <div class="box">

    <!-- Hero Section -->

    <section class="hero-section">
      <div class="hero-content">
        <h1>Discover Digital Art & Collect NFTs</h1>
        <p>NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
        <div class="start-btn">
          <button class="btn btn-primary">
            <img src="assets/images/RocketLaunch.svg" alt="Rocket Icon" />
            Get Started
          </button>
        </div>
        <div class="hero-stats">
          <div class="stat-item">
            <span>240k+</span>
            <p>Total Sale</p>
          </div>
          <div class="stat-item">
            <span>100k+</span>
            <p>Auctions</p>
          </div>
          <div class="stat-item">
            <span>240k+</span>
            <p>Artists</p>
          </div>
        </div>
      </div>
      <div class="hero-image">
        <img src="assets/images/home_Image.svg" alt="Featured NFT" />
        <div class="image-header">
          <h2>Space Walking</h2>
          <div class="small-image">
            <img src="assets/images/Avatar.svg" alt="Small Image" />
            <p>Animakid</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Trending-Collection Section -->

    <section class="trending-collection">
      <div class="section-description">
        <h2>Trending Collection</h2>
        <p>Checkout our weekly updated trending collection.</p>
      </div>
      <div class="image-gallery">
        <div class="image-item">
          <img src="assets/images/Trending_Collection/Trending_One.svg" alt="Main Image 1" class="main-image" />
          <div class="small-images">
            <img src="assets/images/Trending_Collection/Secondary1-1.svg" alt="Small Image 1" class="small-image" />
            <img src="assets/images/Trending_Collection/Secondary1-2.svg" alt="Small Image 2" class="small-image" />
            <img src="assets/images/Trending_Collection/Number.svg" alt="Small Image 3" class="small-image" />
          </div>
          <div class="image-header">
            <h2>DSGN Animals</h2>
            <div class="small-image">
              <img src="assets/images/Trending_Collection/Avatar_One.svg" alt="Small Image" />
              <p>MrFox</p>
            </div>
          </div>
        </div>
        <div class="image-item">
          <img src="assets/images/Trending_Collection/Trending_Two.svg" alt="Main Image 1" class="main-image" />
          <div class="small-images">
            <img src="assets/images/Trending_Collection/Secondary2-1.svg" alt="Small Image 1" class="small-image" />
            <img src="assets/images/Trending_Collection/Secondary2-2.svg" alt="Small Image 2" class="small-image" />
            <img src="assets/images/Trending_Collection/Number.svg" alt="Small Image 3" class="small-image" />
          </div>
          <div class="image-header">
            <h2>Magic Mushrooms</h2>
            <div class="small-image">
              <img src="assets/images/Trending_Collection/Avatar_Two.svg" alt="Small Image" />
              <p>Shroomie</p>
            </div>
          </div>
        </div>
        <div class="image-item">
          <img src="assets/images/Trending_Collection/Trending_Three.svg" alt="Main Image 1" class="main-image" />
          <div class="small-images">
            <img src="assets/images/Trending_Collection/Secondary3-1.svg" alt="Small Image 1" class="small-image" />
            <img src="assets/images/Trending_Collection/Secondary3-2.svg" alt="Small Image 2" class="small-image" />
            <img src="assets/images/Trending_Collection/Number.svg" alt="Small Image 3" class="small-image" />
          </div>
          <div class="image-header">
            <h2>Disco MAchines</h2>
            <div class="small-image">
              <img src="assets/images/Trending_Collection/Avatar_Three.svg" alt="Small Image" />
              <p>BeKind2Robots</p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Top Creators Section -->

    <section class="top-creators">
      <div class="creators-header">
        <div class="section-description">
          <h2>Top Creators</h2>
          <p>Checkout Top Rated Creators on the NFT Marketplace</p>
        </div>
        <div class="start-btn ranking">
          <button class="btn btn-primary">
            <img src="assets/images/RocketLaunch.svg" alt="Rocket Icon" />
            View Ranking
          </button>
        </div>
      </div>
      <!-- Creators Cards -->
      <div class="card-container">
        <div class="card-item">
          <div class="card-number">1</div>
          <img src="assets/images/Top_Creators/creator 1.svg" alt="Image 1" class="card-image" />
          <div class="card-name">Keepitreal</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">2</div>
          <img src="assets/images/Top_Creators/creator 2.svg" alt="Image 1" class="card-image" />
          <div class="card-name">DigiLab</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">3</div>
          <img src="assets/images/Top_Creators/creator 3.svg" alt="Image 1" class="card-image" />
          <div class="card-name">GravityOne</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">4</div>
          <img src="assets/images/Top_Creators/creator 4.svg" alt="Image 1" class="card-image" />
          <div class="card-name">Juanie</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">5</div>
          <img src="assets/images/Top_Creators/creator 5.svg" alt="Image 1" class="card-image" />
          <div class="card-name">BlueWhale</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">6</div>
          <img src="assets/images/Top_Creators/creator 6.svg" alt="Image 1" class="card-image" />
          <div class="card-name">mr fox</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">7</div>
          <img src="assets/images/Top_Creators/creator 7.svg" alt="Image 1" class="card-image" />
          <div class="card-name">Shroomie</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">8</div>
          <img src="assets/images/Top_Creators/creator 8.svg" alt="Image 1" class="card-image" />
          <div class="card-name">robotica</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">9</div>
          <img src="assets/images/Top_Creators/creator 9.svg" alt="Image 1" class="card-image" />
          <div class="card-name">RustyRobot</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">10</div>
          <img src="assets/images/Top_Creators/creator 10.svg" alt="Image 1" class="card-image" />
          <div class="card-name">animakid</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">11</div>
          <img src="assets/images/Top_Creators/creator 11.svg" alt="Image 1" class="card-image" />
          <div class="card-name">Dotgu</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
        <div class="card-item">
          <div class="card-number">12</div>
          <img src="assets/images/Top_Creators/creator 12.svg" alt="Image 1" class="card-image" />
          <div class="card-name">Ghiblier</div>
          <div class="card-sales">Total Sales: <span>34.53 ETH</span></div>
        </div>
      </div>
    </section>


    <!-- Browse Categories Section -->

    



  </div>
</div>
