.home-container {
  background: #000;
  padding: 0 3rem;
}

@media (max-width: 1200px) {
  .home-container {
    padding: 0;
  }
}

.box {
  padding: 3rem 4.5rem;
  color: white;
  background: var(--background-color);
}

@media (max-width: 1200px) {
  .box{
    padding: 1.5rem 2rem;
  }
}

section {
  margin: 0 0 6rem 0;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 5rem;
}

.hero-content,
.hero-image {
  width: 50%;
}

.hero-content h1 {
  font-size: 67px;
  font-weight: 600;
}

.hero-content p {
  font-size: 22px;
  text-align: justify;
}

.hero-stats {
  display: flex;
  justify-content: space-between;
}

.stat-item {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.hero-image {
  position: relative;
  border-radius: 18px;
  height: fit-content;
  background: var(--second-color);
}

.hero-image img {
  width: 100%;
}

.image-header {
  margin: 20px 15px;
}

.image-header h2 {
  font-size: 24px;
  margin: 0;
}

.small-image {
  display: flex;
  margin-top: 20px;
}

.small-image img {
  width: 24px;
  height: 24px;
  align-items: center;
  margin-right: 15px;
}

.start-btn button{
  padding: 15px 50px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 30px 0;
  background: var(--main-color);
  border-color: var(--main-color);
  color: white;
}

.start-btn button img {
  margin-right: 10px;
}

.start-btn button:hover {
  background: var(--main-color-hover);
  border-color: var(--main-color-hover);
}

/* Trending-Collection Section */

.section-description {
  margin: 0 0 70px 0;
}
.section-description h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
}

.section-description p {
  font-size: 22px;
  line-height: 35.2px;
  margin: 20px 0;
  text-transform: capitalize;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.image-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.main-image {
  width: 100%;
  height: auto;
}

.small-images {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.small-image {
  width: 32%;
  height: auto;
}

/* Responsive styles */
@media (max-width: 992px) {
  .image-item {
    flex: 1 1 calc(50% - 20px); /* 2 items in a row for tablets */
  }
  .image-item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .image-item {
    flex: 1 1 100%; /* 1 item in a row for mobile screens */
  }

  .small-images {
    flex-direction: row; /* Keep small images in a row */
    justify-content: space-between; /* Distribute small images evenly */
  }

  .small-image {
    width: 32%;
  }

  .image-item:nth-child(n+2) {
    display: none;
  }
}

/* Top Creators Section */

.ranking button{
  background: var(--background-color);
}

.ranking button:hover {
  background: var(--main-color);
  border-color: var(--main-color);
  color: white;
}

.ranking button img {
  color: var(--main-color);
}

.creators-header{
  display: flex;
  justify-content: space-between;
}


/* Container for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Individual card styles */
.card-item {
  position: relative;
  border: 1px solid var(--second-color);
  border-radius: 20px;
  padding: 15px;
  background-color: var(--second-color);
  text-align: center;
  flex: 1 1 calc(25% - 15px);
}

.card-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  background: var(--main-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #858584;
  background: var(--background-color);
}

.card-image {
  max-width: 100%;
  height: auto;
}

.card-name {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.card-sales {
  font-size: 16px;
  color: #858584;
}

.card-sales span{
  color: #fff;
}

/* Responsive styles */
@media (max-width: 992px) {
  .card-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card-item {
    flex: 1 1 calc(50% - 20px);
  }
  .card-item:nth-child(n+7) {
    display: none;
  }
}

@media (max-width: 576px) {
  .card-item {
    flex: 1 1 100%; /* 1 card in a row for extra small screens */
  }
  .card-item:nth-child(n+6) {
    display: none;
  }
}


/* Browse Categories Section */


.category-Gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.category-card {
  flex: 1 1 calc(25% - 20px); /* 4 cards in a row on large screens */
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
}

.category-image {
  position: relative;
}

.category-image img {
  width: 100%;
  height: auto;
  display: block;
  filter: blur(5px);
}

.category-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--second-color);
  color: white;
  padding: 20px;
}

.category-header h2 {
  margin: 0;
  font-size: 22px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .category-card {
    flex: 1 1 calc(50% - 20px);
  }

}

@media (max-width: 576px) {
  .section-description h2{
    font-size: 22px;
  }
  .section-description{
    margin: 0 0 30px 0;
  }
  .category-card {
    flex: 1 1 calc(50% - 20px);
  }
  .category-header{
    padding: 15px;
  }
  .category-header h2{
    font-size: 14px;
  }
}

