<div class="home-container">
  <div class="box">

    <section class="hero-section">
      <div class="hero-content">
        <h1>Discover Digital Art & Collect NFTs</h1>
        <p>NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
        <div class="start-btn">
          <button class="btn btn-primary">
            <img src="assets/images/RocketLaunch.svg" alt="Rocket Icon" />
            Get Started
          </button>
        </div>
        <div class="hero-stats">
          <div class="stat-item">
            <span>240k+</span>
            <p>Total Sale</p>
          </div>
          <div class="stat-item">
            <span>100k+</span>
            <p>Auctions</p>
          </div>
          <div class="stat-item">
            <span>240k+</span>
            <p>Artists</p>
          </div>
        </div>
      </div>
      <div class="hero-image">
        <img src="assets/images/home_Image.svg" alt="Featured NFT" />
        <div class="image-header">
          <h2>Space Walking</h2>
          <div class="small-image">
            <img src="assets/images/Avatar.svg" alt="Small Image" />
            <p>Animakid</p>
          </div>
        </div>
      </div>
    </section>

    <section class="trending-collection">
      <h2>Trending Collection</h2>

    </section>

    <section class="top-creators">
      <h2>Top Creators</h2>

    </section>

  </div>
</div>
