.nav-container{
  background: #000;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,...'); /* Use this if you need to change the icon color */
}

.navbar {
  padding: 1rem 2rem;
  background: var(--background-color);
  margin: 0 3rem;
}

.nav-link {
  color: white;
  margin-right: 30px;
}

.nav-link.active {
  font-weight: bold;
}

.signup {
  background: var(--main-color);
  border-color: var(--main-color);
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 18px;
}

.signup:hover {
  background-color: var(--main-color-hover);
  border-color: var(--main-color-hover);
}

.signup img {
  margin-right: 8px;

}


